# See http://help.github.com/ignore-files/ for more about ignoring files.

# Image generation
/aoc

# compiled output
/dist
/tmp
/out-tsc
/public/*
!/public/.gitkeep

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode
*.njsproj*
bin/Microsoft*.dll

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Config file
config.ts

# Custom
*.bat
.env
.npmrc
/aoc-dev
/deploy/certs/out/*
!/deploy/certs/out/.gitkeep
/deploy/logs/*
!/deploy/logs/.gitkeep
/deploy/files/*
!/deploy/files/.gitkeep

# Secrets
aoc-entities-secrets.json

resources/files
