if reportType == 'html'
  style.
    body {
      font-family: Arial, sans-serif;
    }
else
  - const fontPath = `${publicDir}/reports/fonts/arial-unicode-ms.ttf`
  // - const fontPath = path.join(publicDir, '/reports/fonts/arial-unicode-ms.ttf');
  if os.platform() === 'win32'
    style.
      @font-face {
        font-family: 'Arial Unicode MS';
        src: url(#{fontPath}) format('ttf'); /* win32 hack */
      }
      body {
        font-family: 'Arial Unicode MS', sans-serif;
      }
  else
    style.
      /*@font-face {
        font-family: 'Arial Unicode MS';
        src: url(#{fontPath}) format('truetype');
      }*/

      body {
        /*font-family: 'Arial Unicode MS', sans-serif;*/
        font-family: Arial, Tahoma, Helvetica, sans-serif;
      }
