div
  img.quest(src=`${publicDir}/reports/images/logo_quest_upscaled.png`)
  div.nif C.I.F. A-07-090889
  div.nom Maversa Marimon, SA
  div.direccio
    | Paseo Ferrocarril, 60 - LOC 1
    br
    | e-mail: oficina@maversa.com
    br
    | Teléfono: 971 55 04 77
    br
    | Whatsapp: 649 40 09 87
    br
    | 07500 MANACOR
