div(class=includePrePrintedParts ? '' : 'hidden')
  img.iso(src=`${publicDir}/reports/images/ISO_9001.png`)
  div.iso-number Nº ES122897
hr
.social
  a(href='https://www.facebook.com/VIPSAManacor/', target='_blank')
    img.facebook(src=`${publicDir}/reports/images/facebook_100.png`)
    span @VIPSAManacor
  a(href='https://www.instagram.com/vipsa_manacor', target='_blank')
    img.instagram(src=`${publicDir}/reports/images/instagram_100.png`)
    span @vipsa_manacor
