<div class="aoc-ui-window-content-body aoc-ui-window-content-body-alternative">
  <div>
    <h2>Instrucciones de Instalación</h2>
    <p>Descargue la extensión <a [href]="naceConnectorService.extensionURL">desde este enlace</a>, se descargará el archivo <strong>maverma-extension.zip</strong> en su disco duro.</p>
    <p>Descomprima el contenido del archivo en una carpeta de su disco duro que luego pueda localizar, por ejemplo, en C:\maverma-extension. En nuestro ejemplo lo tenemos en H:\Code\maverma\maverma-extension</p>
    <img style="max-width: 100%" src="/assets/app/extension-1.png">

    <p>Ahora abra Google Chrome si no lo tiene abierto. A poder ser, cierre todas las pestañas. Abra una nueva pestaña y escriba <strong>chrome://extensions</strong></p>
    <p>Active el <strong>Modo de desarrollador</strong>, están a la derecha, en la parte superior, aquí tiene una imagen de ejemplo:</p>

    <img style="max-width: 100%" src="/assets/app/extension-2.png">

    <p>Pulse en <strong>Cargar descomprimida</strong> y abra la carpeta en la que descomprimió la extensión, y pulse Seleccionar carpeta.</p>

    <p>En estos momentos ya le debería aparecer la extensión cargada. Por ejemplo:</p>

    <img style="max-width: 100%" src="/assets/app/extension-3.png">

    <p>Asegúrese de que está activada, en el interruptor que aparece en la esquina inferior izquierda (vea la imagen superior).</p>

    <p>Como último paso, haga clic en el icono con forma de pieza de puzzle (arriba a la derecha de Chrome), y active la chincheta en la extensión. Así le aparecerá en la barra siempre.</p>

    <img style="max-width: 100%" src="/assets/app/extension-4.png">

    <p>A partir de ahora, la extensión ya funcionará en todas las nuevas páginas NACE que abra.</p>

    <h2>Instrucciones de Actualización</h2>

    <p>Descargue la extensión <a [href]="naceConnectorService.extensionURL">desde este enlace</a>, se descargará el archivo <strong>maverma-extension.zip</strong> en su disco duro.</p>
    <p>Descomprima el contenido del archivo en la misma carpeta en la que tiene la extensión actualmente, sobrescriba los archivos.</p>

    <p>Diríjase a la dirección web <strong>chrome://extensions</strong>, ahí le aparecerá la extensión Maverma. Lo único que tiene que hacer es pulsar sobre <strong>Actualizar</strong></p>

    <img style="max-width: 100%" src="/assets/app/extension-3.png">

    <p>Una vez actualizada, le recomendamos que cierre Google Chrome y lo vuelva a abrir.</p>
  </div>
</div>
