.pages {

  table.container {

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 12pt;
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    td {
      vertical-align: top;
    }

  }

}
