/*body {
  margin-left: 5mm;
}*/

.pages {
  table.container {
    thead {
      /*div.side {
        position: absolute;
      }*/

      table.header {
        margin-bottom: 1cm;

        td.logo-quest {
          vertical-align: top;
          text-align: center;
          img.quest {
            margin-top: 2mm;
            max-width: 200px;
          }

          div.nif {
            // margin-top: -10px;
            font-size: 6pt;
            letter-spacing: 1px;
          }

          div.nom {
            font-weight: bold;
            font-size: 11px;
            margin-top: 8px;
            margin-bottom: 8px;
          }

          div.direccio {
            font-size: 13px;
          }
        }

        /*td.logo-iso {
          vertical-align: top;
          padding-top: 18px;
          padding-left: 15px;
          padding-right: 45px;
          img.iso {
            max-width: 170px;
          }

          div.iso-number {
            margin-top: -20px;
            margin-left: 19px;
            font-size: 10px;
          }

          hr {
            margin-top: 10px;
            margin-bottom: 10px;
          }

          .social {
            width: 100%;
            text-align: center;

            a {
              display: table;
              border-collapse: separate;
              border-spacing: 3px;
              color: black;
              text-decoration: none;
              // font-weight: bold;
              font-size: 10px;
              margin: 0 auto;
            }

            a:hover, a:focus, a:active {
              text-decoration: none;
              color: inherit;
            }

            img {
              display: table-cell;
              vertical-align: middle;
              max-width: 16px;
              margin-right: 4px;
            }

            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }*/

        td.spacer {
          min-width: 1cm;
        }

        td.customer {
          width: 100%;
          text-align: right;
          font-size: 15px;
          vertical-align: top;

          hr {
            width: 5cm;
            margin-right: 0;
          }

          p:first-child {
            margin-top: 0;
          }

          p {
            margin-top: .15em;
            margin-bottom: .15em;
          }
        }

      }
    }

    tbody.rows {
      font-size: 15px;
      tr {
        page-break-inside: avoid !important; // Per evitar espais raros dins un tr a files alteaatories... // https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3405
        /*&.enb th {
          background-color: white;
          color: black;
        }*/
        td.description {
          max-width: 10cm;
        }
      }

      tr.albaran {
        font-weight: bold;
        td:first-child {
          border-left: 1px solid black;
        }
        td {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        td:last-child {
          border-right: 1px solid black;
        }
      }

      /*table.palets-obra-empresa {
        margin-top: 8mm;
        width: 100%;
      }*/

      table.summary {
        margin-top: 8mm;
        width: 100%;
        border: 1px solid black;
        border-collapse: separate;
        border-spacing: 0;
        padding: 2mm;

        tr {
          td {
            vertical-align: top;
          }
          td.summary-right {
            width: 6cm;
          }
        }

        /*table.vencimientos_o_pago {
          border-collapse: separate;
          border-spacing: 0;
          tr:not(:first-child) {
            td {
              padding-left: 2mm;
              padding-right: 2mm;
              text-align: right;
              border-right: 1px solid black;
            }
          }
        }*/

        table.totales {
          font-size: 15px;
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;
          tr {
            td {
              padding-left: 1mm;
              padding-right: 1mm
            }
            /*td:first-child {
              font-weight: bold;
            }*/
            td:last-child {
              text-align: right;
            }
          }
          tr:last-child {
            // background-color: black;
            font-weight: bold;
            // color: white;
            /*&.enb {
              background-color: white;
              color: black;
              td {
                border: 1px solid black;
              }
            }*/
            td {
              padding: 1mm;
            }
          }
        }

      }
    }
  }

}
