.pages {

  table.container {

    &:not(:last-child) {
      page-break-after: always;
    }

    h1 {
      text-align: center;
    }

    h2 {
      font-size: 12pt;
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    td {
      vertical-align: top;
    }

    // vipsa logo

    .logo-vipsa {
      vertical-align: top;
      text-align: left;
      img.vipsa {
        max-width: 6cm;
        // width: 1cm;
      }

      div.nif {
        margin-top: -10px;
        margin-left: 1.75cm;
        font-size: 6pt;
        letter-spacing: 1px;
      }

      div.nom {
        font-weight: bold;
        font-size: 11px;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      div.direccio {
        font-size: 12px;
      }
    }

  }

}
