extends ../layout-preprint
block content
  table.container
    thead
      tr
        td(colspan='7')
          table.header
            tr
              td.logo-quest
                include ../_includes/logo-quest.pug
              td.spacer
              td.customer
    tfoot
      tr
        td(colspan='6')
          // table.footer
          p
          p
